h1{
    font-family: 'Franklin Gothic Medium';
    text-align: center;
}

h2{
    font-weight: 700;
    font-size:small;
}

h3{
    font-size: xx-large;
}

h4{
    font-style: italic;
}

.container row{
    margin:0;
    width:100vh;
}

.container col{
    margin:0;
    width:100vh;
}